<ion-content class="animated fadeIn login auth-page ion-padding">
  <div class="theme-bg"></div>
  <div class="auth-content">
    <!-- Logo -->
    <div class="ion-padding-horizontal ion-text-center animated fadeInDown">
      <div class="logo"></div>
      <h4 class="ion-no-margin">
        <div class="login-logo">
          <img
            src="https://i.ibb.co/SXhMGkj/logo-Copie.png"
            alt="DR360 logo"
            height="100"
          />
          <br />
          
        </div>
       
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input
          color="secondary"
          type="email"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="calendar" item-start></ion-icon>
          Data de nascimento
        </ion-label>
        <ion-input
          color="secondary"
          type="email"
          formControlName="email"
        ></ion-input>
      </ion-item>
     

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Senha
        </ion-label>
        <ion-input
          color="secondary"
          type="password"
          formControlName="password"
        ></ion-input>
      </ion-item>
      
    </form>

    

    <div>
      <ion-button
        size="medium"
        expand="full"
        shape="round"
        color="dark"
        (click)="goToHome()"
        [disabled]="!onLoginForm.valid"
        tappable
      >

        Entrar
      </ion-button>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span text-right tappable (click)="forgotPass()" class="paz">
        <ion-text color="light"><strong>Esqueceu sua senha?</strong> </ion-text>
      </span>
    </div>
  </div>
</ion-content>
